form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    color: var(--main-clr);
    gap: 1rem;

input, textarea {
  background: hsl(from var(--color-bg2) h s l / 0.25); // lighter, more transparent
  color: var(--main-clr);
  border: 1px solid rgba(255, 255, 255, 0.12); // soft white edge
  border-radius: 6px;
  padding: 8px 10px;
  outline: none;
  transition: border 300ms, background 300ms;
  resize: none;

  &:focus {
    border: 1px solid rgba(255, 255, 255, 0.35); // brightens on focus
    background: hsl(from var(--color-bg2) h s l / 0.35);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
}

textarea {
    height: 5em;
}

    button {
          background: 
    linear-gradient(to right, var(--color-bg2), var(--color-bg2)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 100%, 0 100%;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  color: var(--main-clr);
  text-decoration: none;
  cursor: pointer;
  border: none;
  width: 50%;
  align-self: center;

  &:hover, &:focus {
    background-size: 0 100%, 100% 100%;
  }
    }
}