.resume-container-1 {
    color: var(--main-clr);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.gradient-bg {
    height: 150vh;
}
